<div class="mainpage">
    <div class="izquierda">
      <h1 class="empresa">acme</h1>
      <p>
        Meeting rooms reservation page<br>
        <br>We’ve been growing along with a changing society, economy and new technologies, yet maintained our entrepreneurial culture and the daring spirit of our beginnings. Today we are getting ready to write a new chapter in our history.
      <p>
    </div>
    <div class="derecha box">
      <h1>Password Reset</h1>  
        <label>New Password</label>
        <div>
          <i class="textoDentro"></i>
          <input type="text" [(ngModel)]="user.password" name="password" placeholder="Please enter your new password">
        </div>
        <label>Repeat Password</label>
        <div>
            <i class="textoDentro"></i>
            <input type="text" [(ngModel)]="user.repeatPassword" name="repeatPassword" placeholder="Please repeat the password">
          </div>
        <!--<a href="#" class="forgot">Forgot Password</a>-->
        <div class="botones">
          <div class="log">
            <button class="logi" (click)="popUp()">Submit</button> <!--CAMBIAR routerLink-->
          </div>
        </div>
    </div>
  </div>
  